.formContainer {
    background: #ffffff;
    padding: 28px;
    border-radius: 10px;
    width: 380px;
    margin: 60px auto;
    border: 1px solid #e5e7eb;
}

.formContainer h2 {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #111827;
}

.formGroup {
    margin-bottom: 16px;
    
}

.formGroup label {
    display: block;
    margin-bottom: 6px;
    font-size: 15px;
    color: #374151;
}

.formGroup input,
.formGroup textarea,
.formGroup select {
    width: 100%;
    padding: 9px 10px;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    font-size: 14px;
    background: #f9fafb;
    transition: 0.2s;
}

.formGroup input:focus,
.formGroup textarea:focus,
.formGroup select:focus {
    outline: none;
    border-color: #6b7280;
    background: #ffffff;
}

.formGroup textarea {
    resize: none;
    height: 80px;
}

.btn {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background: #111827;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background: #1f2937;
}